@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
@import "_variables.scss";

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background: #fff;
	text-transform: capitalize;
	font-family: "Open sans", sans-serif;
	font-feature-settings: 'clig' off, 'liga' off;

}

[class*='__container'] {
	margin: 0 auto;
	max-width: 1350px;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper>main {
	flex-grow: 1;
}

.header {
	background-color: rgba(30, 40, 50, 0.05);

	z-index: 90;
	// .heder__top

	&__top {}

	// .header__bottom
	&__bottom {
		@media (max-width:770.98px) {
			display: none;
		}
	}
}


.top-header {
	position: relative;
	// .top-header__container

	&__container {
		border-bottom: 1px solid #E3E3E3;
	}

	// .top-header__items

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 25px;
		padding-top: 31px;
		column-gap: 20px;
		flex-wrap: wrap;
		position: relative;
	}

	// .top-header__button
	&__button {
		width: 24px;
		height: 24px;
		transition: all .5s ease-in-out;

		&:hover .top-header__search-icon path {
			color: #FF6F61;
		}
	}


	// .top-header__search-icon
	&__search-icon path {
		fill: currentColor;
		transition: all .5s ease-in-out;
	}

	&__search {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
	}

	// .top-header__logo

	&__logo {
		cursor: pointer;
		display: flex;
		flex-shrink: 0;
		gap: 10px;

		@media (max-width: 390.98px) {
			&> :first-child {
				display: none;
			}

			&> :last-child {
				display: none;
			}

		}
	}

	// .top-header__list
	&__list {
		display: flex;
		gap: 22px;
	}

	// .top-header__item
	&__item {
		transition: all .5s ease-in-out;

		@media (any-hover:hover) {

			&:hover .top-header__link,
			&:hover .top-header__buy-icon path {
				color: $hoverColor;
			}
		}
	}

	// .top-header__link
	&__link {
		display: inline-flex;
		column-gap: 8px;
		align-items: center;
		transition: all .5s ease-in-out;
		font-size: 18px;
		font-weight: 400;
		color: #1E2832;

		@media (max-width:770.98px) {
			font-size: 0;
		}
	}

	&__buy-icon path {
		fill: currentColor;
		transition: all .5s ease-in-out;
	}
}

.burger-menu {
	position: absolute;
	top: 100%;
	left: -700%;
	opacity: 0;

	transition: all .5s ease-in-out;
	z-index: 20;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	overflow: auto;

	.yes-burger & {
		left: 0;
		opacity: 1;
	}
}

.bottom-header {

	// .bottom-header__container

	&__container {
		position: relative;
	}

	// .bottom-header__items

	&__items {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		row-gap: 15px;
		flex-wrap: wrap;
		align-items: flex-start;

		@media (max-width:770.98px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .bottom-header__item

	&__item {
		&:hover .bottom-header__link {
			color: $hoverColor;
		}
	}

	// .bottom-header__link
	&__link {
		transition: color 0.5s ease-in-out;
		font-weight: 400;
		line-height: 1.50;

		/* 24/16 */
		@media (max-width:770.98px) {
			font-size: 18px;
		}
	}

	// bottom-header__form


}

.page {

	// .page__brands
	// .page__hero
	&__brands,
	&__hero {
		margin-bottom: 90px;

		@media (max-width:1350px) {
			margin-bottom: calc(25px + (90 - 25) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .page__styles
	// .page__goods
	// .page__slider
	// .page__social

	&__social,
	&__advertisment,
	&__slider,
	&__styles,
	&__goods {
		margin-bottom: 140px;

		@media (max-width:1350px) {
			margin-bottom: calc(30px + (140 - 30) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	&__advertisment {
		background: url('../img/main/styles/zara/background.jpg');
	}
}

.hero {
	background-color: rgba(30, 40, 50, 0.05);
	// .hero__container
	position: relative;

	// .hero__decor-left
	// .hero__decor-right
	&__decor-left,
	&__decor-right {
		position: absolute;
	}

	&__decor-left {
		left: 0;
		bottom: 12%;

		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 60/66;
			object-fit: cover;
		}
	}

	&__decor-right {
		right: 0;
		top: 50%;

		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 194/261;
			object-fit: cover;
		}

		transform: translate(0, -50%);
	}

	// .hero__items

	&__items {
		padding-top: 81px;
		// padding-right: 112px;
		padding-right: 112px;
		padding-bottom: 80px;
		display: flex;
		justify-content: space-between;
		gap: 30px;

		@media (max-width:1350px) {
			padding-right: calc(25px + (112 - 25) * ((100vw - 1024px) / (1350 - 1024)));
			padding-bottom: calc(25px + (80 - 25) * ((100vw - 344px) / (1350 - 344)));
		}


	}

	// .hero__info
	&__info {
		padding-top: 74px;
		padding-bottom: 94px;
		flex: 0 1 682px;

		@media (max-width:1350px) {
			padding-top: calc(0px + (74 - 0) * ((100vw - 670px) / (1350 - 670)));
			padding-bottom: calc(0px + (94 - 0) * ((100vw - 670px) / (1350 - 670)));
		}

		@media (max-width:480px) {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	// .hero__title

	&__title {
		font-size: 74px;
		font-weight: 300;
		margin-bottom: 52px;

		@media (max-width:1350px) {
			margin-bottom: calc(25px + (52 - 25) * ((100vw - 670px) / (1350 - 670)));
			font-size: calc(40px + (74 - 40) * ((100vw - 670px) / (1350 - 670)));
		}

		@media (max-width: 670px) {
			font-size: 40px;
		}

		@media (max-width:480px) {
			text-align: center;
			margin-bottom: 40px;
		}

	}

	// .hero__text
	&__text {
		&:not(:last-child) {
			margin-bottom: 66px;

			@media (max-width:1350px) {
				margin-bottom: calc(25px + (66 - 25) * ((100vw - 344px) / (1350 - 344)));
			}
		}

		>p {
			font-size: 30px;
			font-weight: 400;
			line-height: 1.83333333;
			/* 55/30 */

			@media (max-width: 670px) {
				font-size: 18px;
			}

			@media (min-width: 670px) and (max-width: 1350px) {
				font-size: calc(18px + (30 - 18) * ((100vw - 670px) / (1350 - 670)));
			}

			@media (min-width: 1350px) {
				font-size: 30px;
			}
		}

		>p:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .hero__button

	&__button {
		color: #fff;
		background-color: #1E2832;
		transition: all .5s ease-in-out;

		@media (any-hover:hover) {
			&:hover {
				background-color: $hoverColor;
			}
		}
	}

	// .hero__wrap-picture

	&__wrap-picture {
		flex: 0 1 424px;
		border-radius: 30% 0 30% 0;
		position: relative;
		border: 2px solid rgba(0, 0, 0, 0.25);
		border-radius: 30% 0 30% 0;

		@media (max-width:480px) {
			margin-bottom: 20px;
		}
	}

	// .hero__image

	&__image {
		position: absolute;
		right: 18px;
		bottom: 20px;
		width: 100%;
		height: 100%;
		aspect-ratio: 424/542;
		object-fit: cover;
		border-radius: 30% 0 30% 0;
		position: relative;
		z-index: 2;

		@media (max-width:480px) {
			position: static;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.button {
	// .button__image
	display: inline-flex;
	padding: 19px 26px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	text-align: center;
	transition: all .5s ease-in-out;

	@media (any-hover:hover) {
		&:hover {
			background: $hoverColor;
		}
	}

	@media (max-width:1350px) {
		padding: calc(16px + (19 - 16) * ((100vw - 670px) / (1350 - 670))) calc(16px + (26 - 16) * ((100vw - 670px) / (1350 - 670)));
	}

	// .button__text
	&__text {
		font-family: Roboto;
		font-size: 29px;
		font-weight: 400;
		
		flex-shrink: 0;

		@media (max-width:1350px) {
			font-size: calc(19px + (29 - 19) * ((100vw - 670px) / (1350 - 670)));
		}

		@media (max-width:480px) {
			font-size: 19px;
		}
	}

	@media (any-hover:hover) {}
}

.brands {

	// .brands__container

	&__container {}

	// .brands__list

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		row-gap: 40px;
		column-gap: 80px;
		justify-items: center;

		@media (max-width:510.98px) {
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			column-gap: 25px;
		}
	}

	// .brands__item

	&__item {}

	// .brands__brand

	&__brand {}

	// .brands__picture

	&__picture {
		width: 100%;
		height: 100%;
		aspect-ratio: 200/70;
		object-fit: contain;
	}
}

.styles {

	// .styles__container
	&__container {
		position: relative;
	}

	// .styles__title
	&__wrap-title {
		position: absolute;
		writing-mode: vertical-rl;
		z-index: auto;
		top: 50%;
		transform: translate(-48px, -50%);
		width: 100%;
		height: 100%;
	}

	&__title {
		font-size: 34px;
		font-weight: 400;
		text-transform: uppercase;
		width: 100%;
		transform: rotate(-180deg);
		text-align: center;
	}

	// .styles__items

	&__items {}

	// .styles__block

	&__block {
		display: grid;
		grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
		gap: 24px;
		position: relative;

		@media (max-width:630px) {
			gap: calc(10px + (24 - 10) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .styles__wrap
	&__wrap {
		position: relative;

		&:first-child {
			grid-column: span 2;
			grid-row: span 2;
		}

		// .styles__wrap only
		&:only-child {
			grid-column: span 4;
			grid-row: span 2;

			>img {
				object-fit: contain;
			}
		}

		& .styles__info {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 15px 14px;
			background-color: #1E2832;
			row-gap: 15px;
			column-gap: 15px;
			opacity: 0;
			transition: all 0.5s ease-in-out;

			>h6 {
				color: #fff;
				font-weight: 600;
				
			}
		}

		@media (any-hover:hover) {
			&:hover .styles__info {
				opacity: 1;
			}
		}

		@media (any-hover:none) {
			& .styles__info {
				opacity: 1;
			}
		}

	}

	// .styles__image

	&__image {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
		/* 1/1 */
		object-fit: cover;
	}

	// .styles__promotions

	&__promotions {
		position: absolute;
		left: 0;
		top: 22px;
	}

	// .styles__info


	// .styles__name

	&__name {}

	// .styles__quantity

	&__quantity {}

	@media (max-width:1410.98px) {
		&__wrap-title {
			position: static;
			writing-mode: horizontal-tb;
			transform: translate(0, 0);
			margin-bottom: 10px;
		}

		&__title {
			transform: rotate(0);
			text-align: center;
		}
	}

	@media (max-width:550px) {
		&__wrap:first-child {
			grid-column: span 1;
			grid-row: span 1;
		}

		&__wrap:only-child {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}


.goods {

	// .goods__title
	&__title {
		margin-bottom: 35px;
	}

	&__filter {
		margin-bottom: 35px;
	}

	// .goods__box

	&__box {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 24px;

		@media (max-width:555.98px) {
			grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
		}
	}
}

.advertisment {
	background: rgba(1, 2, 4, 1) url('../img/main/styles/zara/fliped_bg_use.jpg') -60% 40% / 85% no-repeat;

	@media (max-width:1084.98px) {
		background: rgba(1, 2, 4, 1) url('../img/main/styles/zara/fliped_bg_use.jpg') center center / cover no-repeat;
	}

	@media (max-width:530.98px) {
		background: rgba(1, 2, 4, .3) url('../img/main/styles/zara/fliped_bg_use.jpg') center center / cover no-repeat;
	}

	&__brand {
		position: absolute;
		top: 51px;
		right: 0;
		aspect-ratio: 723/309;
		object-fit: contain;

		@media (max-width:665.98px) {
			width: 100%;
		}
	}

	position: relative;

	// .advertisment__container
	&__container {
		padding-top: 233px;
		padding-bottom: 93px;

		position: relative;

		@media (max-width:1350px) {
			padding-bottom: calc(25px + (93 - 25) * ((100vw - 344px) / (1350 - 344)));
			;
		}
	}

	// .advertisment__brand

	// .advertisment__items

	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}

	// .advertisment__info

	&__info {
		flex: 0 1 504px;
	}

	// .advertisment__logo

	&__logo {
		margin-bottom: 55px;

		@media (max-width:1350px) {
			margin-bottom: calc(10px + (55 - 10) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .advertisment__text

	&__text {
		margin-bottom: 55px;

		@media (max-width:1350px) {
			margin-bottom: calc(15px + (55 - 15) * ((100vw - 344px) / (1350 - 344)));
		}

		>p {
			color: #FFF;
			font-family: Roboto;
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.53846154;
			/* 40/26 */
			

			@media (max-width:1350px) {
				font-size: calc(19px + (26 - 19) * ((100vw - 344px) / (1350 - 344)));
			}
		}
	}

	// .advertisment__button

	&__button {
		background-color: #fff;

		@media (max-width:480px) {
			width: 100%;
		}
	}
}

.button {

	// .button__image

	&__image {}

	// .button__text

	&__text {}
}


.slider {

	// .slider__container

	&__container {}

	// .slider__title

	&__title {
		margin-bottom: 35px;
	}

	// .slider__filter

	&__filter {
		margin-bottom: 35px;
	}

	// .slider__wrap
	&__wrap {
		overflow: hidden;
	}

	// .slider__box

	&__box {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		overflow-x: auto;
		overflow-y: hidden;
		gap: 24px;


		img {
			width: 312px;
			height: 400px;
		}
	}
}

.social {

	// .social__container
	background: rgba(30, 40, 50, 0.05);

	&__container {}

	// .social__title
	// social__items
	&__items {
		padding-top: 100px;
		padding-bottom: 100px;

		@media (max-width:1350px) {
			padding-top: calc(25px + (100 - 25) * ((100vw - 344px) / (1350 - 344)));
			padding-bottom: calc(25px + (100 - 25) * ((100vw - 344px) / (1350 - 344)));
		}

	}

	&__title {
		margin-bottom: 60px;
		text-align: center;

		@media (max-width:1350px) {
			margin-bottom: calc(25px + (60 - 25) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .social__box

	&__box {
		margin-bottom: 70px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 24px;

		@media (max-width:630px) {
			gap: calc(10px + (24 - 10) * ((100vw - 344px) / (1350 - 344)));
			margin-bottom: calc(25px + (70 - 25) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .social__item

	&__item {
		overflow: hidden;

		& img {
			transition: all .5s ease-in-out;
		}

		@media (any-hover:hover) {
			&:hover img {
				transform: scale(1.5);
			}
		}
	}

	// .social__picture

	&__picture {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
		object-fit: contain;
	}

	// .social__wrap-form

	&__wrap-form {
		max-width: 760px;
		margin: 0 auto;
	}

	// .social__title-sub

	&__title-sub {
		margin-bottom: 74px;
		text-align: center;
	}

	// .social__form

	&__form {}

}

.footer {

	// .footer__top

	&__top {}

	// .footer__bottom

	&__bottom {}
}

.top-footer {

	// .top-footer__container

	&__container {
		padding-bottom: 90px;
		@media (max-width:1350px) {
			padding-bottom: calc(25px + (90 - 25) * ((100vw - 344px) / (1350 - 344)));
		}
	}

	// .top-footer__items

	&__items {
		display: flex;
		gap: 56px;
		flex-wrap: wrap;

		@media (max-width:910.98px) {
			justify-content: center;
			gap: calc(40px + (56 - 40) * ((100vw - 900px) / (900 - 344))); 
		}
	}

	// .top-footer__main

	&__main {
		display: flex;
		flex-direction: column;
		align-items: last baseline;
		gap: 32px;
		flex: 0 0 392px;

		@media (max-width:910.98px) {
			flex: 1 0 100%;
			align-items: center;
			gap: calc(25px + (32 - 25) * ((100vw - 900px) / (900 - 344))); 
		}
	}

	// .top-footer__logo

	&__logo {
		flex-shrink: 0;

		>img {
			width: 100%;
			height: 100%;
			aspect-ratio: 180 / 34;
			object-fit: contain;
		}
	}

	// .top-footer__text

	&__text {
		>p {
			color: rgba(30, 40, 50, 0.75);
			font-weight: 400;
			line-height: 1.9;
			/* 38/16 */
			/* 38/16 */
			
		}
	}

	// .top-footer__media

	&__media {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 36px;
		@media (max-width:910.98px) {
			column-gap: 50px;
		}
	}

	// .top-footer__item

	&__item {
		flex-shrink: 0;
		@media (max-width:910.98px) {
			transform: scale(1.5);
		}
	}

	// .top-footer__link

	&__link {}

	// .top-footer__image

	&__image {
		& path {
			fill: currentColor;
			transition: all .5s ease-in-out;
		}

		&:hover path {
			color: $hoverColor;

		}
	}

	// .top-footer__dropdowns

	&__dropdowns {}
}

.bottom-footer {
	background-color: #1E2832;
	// .bottom-footer__container

	&__container {}

	// .bottom-footer__items

	&__items {
		padding-top: 10px;
		padding-bottom: 5px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;
		flex-wrap: wrap;
	}

	// .bottom-footer__copy

	&__copy {
		>p {
			color: #FFF;
			font-weight: 400;
			line-height: normal;
			
		}
	}

	// .bottom-footer__payment

	&__payment {

		@media (max-width:480.98px) {
			order: 1;
			text-align: center;
			flex-grow: 1;
		}
	}

	// .bottom-footer__image

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 283/24;
	}
}

.anchor {
	color: #FFF;
	font-weight: 400;
	line-height: normal;
	
}


.dropdowns {
	display: flex;
	flex: 1 1 auto;
	// .dropdowns__unit
	justify-content: space-between;
	gap: 25px;
	flex-wrap: wrap;

	@media (min-width:480.98px) {
		details>summary {
			list-style: none;
		}

		details>summary::-webkit-details-marker {
			display: none;
		}
	}


	// .dropdowns__title

	&__title {
		font-weight: 600;
		line-height: normal;
		
		margin-bottom: 22px;
		@media (max-width:910.98px) {
			font-size: 20px;
		}
	}

	// .dropdowns__list

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	// .dropdowns__item
	&__item {
		@media (any-hover:hover) {
			&:hover .dropdowns__link {
				color: $hoverColor;
			}
		}
	}

	// .dropdowns__link
	&__link {
		color: #1E2832;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.71428571;
		/* 24/14 */
		/* 171.429% */
		
		transition: all .5s ease-in-out;
		@media (max-width:910.98px) {
			font-size: 20px;
		}
	}
}

.image-burger {
	width: 17.5px;
	height: 20px;
	position: relative;
	display: none;

	& span,
	&::before,
	&::after {
		position: absolute;
		width: 100%;
		left: 0;
		height: 2px;
		background-color: #1E2832;
		border-radius: 10px;
	}

	&::before {
		content: '';
		top: 0;
	}

	&::after {
		content: '';
		bottom: 0;
	}

	& span {
		position: absolute;
		display: inline-block;
		top: 50%;
		transform: translate(0, -50%);
	}

	@media (max-width:770.98px) {
		display: block;
		flex-shrink: 0;
	}
}

.form--dissapear {
	position: absolute;
	width: 100%;
	top: 110%;
	left: 0px;
	left: -600%;
	transition: all .5s ease-in-out;

	.yes-form & {
		left: 0px;
	}
}


.form {
	display: flex;
	justify-content: space-between;
	gap: 26px;
	// .form__line

	&__line {
		width: 100%;
		border-bottom: 2px solid #000;
	}

	&:has(.form__input:focus) {
		.form__line {
			border-bottom: 2px solid $hoverColor;
		}
	}

	// .form__input

	&__input {
		padding: 13px 15px;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: rgba(30, 40, 50, 0.50);
			font-family: Roboto;
			font-weight: 600;
			
		}
	}

	// .form__button

	&__button {
		font-weight: 400;
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		border-bottom: 2px solid #000;
		text-transform: uppercase;
		color: #1E2832;
		padding: 0 16px 10px 16px;
		transition: all .5s ease-in-out;

		@media (any-hover:hover) {
			&:hover {
				color: $hoverColor;
				border-bottom: 2px solid $hoverColor;
			}
		}
	}

	// .form__button--image

	&__button--image {
		column-gap: 6px;

		&:hover .form__icon-plane path {
			color: $hoverColor;
		}
	}

	// .form__icon-plane
	&__icon-plane path {
		transition: all .5s ease-in-out;
		fill: currentColor;
	}
}

// .title-secondary
.title-secondary {
	text-align: center;
	font-family: Roboto;
	font-size: 50px;
	font-weight: 500;
	

	@media (max-width:1350px) {
		font-size: calc(25px + (50 - 25) * ((100vw - 344px) / (1350 - 344)));
	}
}

// .filter
.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	row-gap: 10px;

	@media (max-width:520.98px) {
		flex-direction: column;
		row-gap: 40px;
		align-items: flex-start;
	}

	// .filter__categories

	.filter__categories {
		display: inline-flex;
		row-gap: 10px;
		column-gap: 40px;
		flex-wrap: wrap;

	}

	.filter__category {
		@media (any-hover:hover) {
			&:hover {
				cursor: pointer;
			}

			&:hover .filter__button {
				color: $hoverColor;
			}
		}
	}

	// .filter__button

	.filter__button {
		font-weight: 600;
		
		transition: all .5s ease-in-out;
	}

	.filter__button--transparent {
		opacity: .5;
	}

	// .filter__triger-button

	.filter__triger-button {
		padding: 5px 15px;
		color: #1E2832;
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		background-color: #1E2832;

		transition: all .5s ease-in-out;

		@media (any-hover:hover) {
			&:hover {
				cursor: pointer;
				background-color: $hoverColor;
			}
		}

		>span {
			color: #FFF;
			font-weight: 400;
			
			transition: all .5s ease-in-out;
		}
	}

	.filter__triger-button--image {
		gap: 4px;
	}

}

// .product-card

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 18px;

	//  .product-card__promotions
	&__promotions {
		position: absolute;
		top: 22px;
	}

	// .product-card__image

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 312/400;
		flex-grow: 1;
	}

	// .product-card__info
	&__info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		flex: 1 1 auto;
		order: 1;
	}

	// .product-card__good-title
	&__good-title {

		font-weight: 600;
		
	}

	// .product-card__buy

	&__buy {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		// flex-wrap: wrap;
	}

	// .product-card__wrapper-name

	&__wrapper-name {
		flex-shrink: 0;

		>*:not(:last-child) {
			margin-bottom: 5px;
		}

		>* {
			color: rgba(0, 0, 0, 0.50);
			font-weight: 400;
			
		}

	}

	// .product-card__name

	&_name {}

	// .product-card__wrap-price

	&__wrap-price {
		display: flex;
		align-items: flex-end;
		column-gap: 12px;
		row-gap: 12px;
		flex-wrap: wrap;
	}

	// .product-card__price

	&__price {
	}

	// .product-card__price--line-throught

	&__price--line-throught {
		color: rgba(0, 0, 0, 0.50);
		text-decoration: line-through;
		font-size: 14px;
	}

	// .product-card__price--hot

	&__price--hot {
		color: #FF6F61;
	}

}

.promo {
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	row-gap: 15px;

	>h6 {
		padding: 4px 12px;
		background-color: #FF6F61;
		color: #fff;
		flex-shrink: 0;
		text-transform: uppercase;
	}

	// .styles__sale
	>h6.promo__hot--sale {
		background-color: #1E2832;
	}
}