@import url('fonts.css');
@import url('reset.css');

.wrapper {
	min-height: 100%;
	overflow: clip;
	font-family: "Proxima Nova";
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
	background-color: #F8F8F8;
}

/* ------------------------ */

.header__top {
	background-color: #f8f8f8;
}

.top-header__container {
	max-width: 1320px;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
}

.top-header__items {
	display: flex;
	justify-content: space-between;
}

.top-header__nav {
	display: flex;
	gap: 30px;
}

.top-header__list-item .top-header__nav-link>p {
	transition: color 0.4s ease;
}

.top-header__list-item:hover .top-header__nav-link>p {
	color: #FFBC57;
}

.text-standart {
	font-weight: 400;
	line-height: 1.875;
	/* 30/16 */
}

.text-standart--grey {
	color: #535353;
}

.top-header__info {
	display: flex;
	gap: 10px;
}

.top-header__info .top-header__list-item:first-child {
	margin-right: 10px;
}

.image-link .top-header__icon {
	transition: transform 0.4s ease, opacity 0.4s ease;
}

.image-link:hover .top-header__icon {
	transform: scale(1.2);
	opacity: .9;
}

.top-header__icon {}

.top-header__list-item--language {
	align-self: center;
	margin-left: 20px;
	cursor: pointer;
}

.top-header__list-item--language span:after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/header/header-top/arrow.svg') 19px 22px;
	vertical-align: middle;
}

.text-middle {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26315789;
	/* 24/19 */
}

.text-middle--grey {
	color: #535353;
}

.text-middle--yellow {
	color: #FFBC57;
}

.middle-header {
	background-color: #fff;
	border-bottom: 2px solid #F8F8F8;
}

/* middle header */
.middle-header__container {
	max-width: 1320px;
	padding: 27px 15px 27px 15px;
	margin: 0 auto;
}

.middle-header__items {
	display: flex;
	gap: 30px;
	align-items: center;
}

.logo {
	margin-right: 4px;
}

.button {
	display: inline-flex;
	gap: 10px;
	padding: 11px 20px;
	align-items: center;
	border-radius: 8px;
	background-color: #FFBC57;
	transition: transform .4s ease;
}

.button--catalog::before {
	content: '';
	width: 24px;
	height: 24px;
	background: url('../img/header/header-middle/menu-catalog.svg') 24px 24px;
	align-self: flex-start;
	flex-shrink: 0;
	transition: transform .5s ease;
}

.button--catalog:hover {
	background-color: rgba(255, 188, 87, .9);
	
}
.button--catalog:hover::before {
	transform: scale(1.3);
	
}

.text-middle--white {
	color: #fff;
}

.middle-header__input-wrap {
	position: relative;
	flex-basis: 421px;
}

.middle-header__input {
	padding: 10px 40px 10px 15px;
	border: 1px solid #B1B1B1;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* 30/16 */
	color: #B1B1B1;
	min-height: 50px;
}

.middle-header__input-wrap::after {
	content: '';
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/header/header-middle/poisk.svg');
	position: absolute;
	top: 35px;
	margin-top: -24px;
	right: 15px;
}

.middle-header__contacts {}

.contacts {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.contacts__link-phone:hover img {
	transition: transform .7s ease;
}

.contacts__link-phone:hover img {
	transform: rotate(45deg) scale(1.1);
}

.contacts__icon {}

.contacts img {
	cursor: pointer;
}

.text-thin {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69230769;
	/* 22/13 */
}

.text-thin--grey {
	color: #535353;
}


/* text big */
.text-big {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	/* 28/20 */
}

.text-big--dark {
	color: #2B2929;
}

.text-big--theme-grey-light {
	color: #B1B1B1;
}

.middle-header__icons {
	display: inline-flex;
	gap: 20px;
}


.middle-header__link-icon .middle-header__icon {
	transition: transform .5s ease, opacity .5s ease;
}
.middle-header__link-icon:hover .middle-header__icon {
	transform: scale(1.3);
	opacity: .7;
}

/* header bottom */
.header__bottom {
	background-color: #fff;
}

.bottom-header__container {
	max-width: 1320px;
	padding: 18px 15px 18px 15px;
	margin: 0 auto;
}

.bottom-header__items {
	display: flex;
	justify-content: space-between;
}

.bottom-header__item {
	display: flex;
	gap: 40px;
}

.bottom-header__list-item {}

.bottom-header__list-item .bottom-header__link>p{
	transition: color .4s ease;
}
.bottom-header__list-item:hover .bottom-header__link >p{
	color: #FFBC57;
}


/* etalon */
.bottom-header__link--promotions,
.bottom-header__link--sale,
.bottom-header__link--loan {
	align-items: center;
	display: inline-flex;
	gap: 10px;
}

.bottom-header__link--promotions:before {
	content: "";
	align-self: flex-start;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url('../img/header/bottom-header/akcii.svg');
}

.bottom-header__list-item .bottom-header__link--promotions:before {
	transition: transform 0.5s ease;
}
.bottom-header__list-item:hover .bottom-header__link--promotions:before {
	transform: scale(1.3);
}

.bottom-header__link--sale:before {
	content: "";
	align-self: flex-start;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url('../img/header/bottom-header/sale.svg');
}

.bottom-header__list-item .bottom-header__link--sale:before {
	transition: transform 0.5s ease;
}
.bottom-header__list-item:hover .bottom-header__link--sale:before {
	transform: scale(1.3);
}

.bottom-header__link--loan:before {
	content: "";
	align-self: flex-start;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url('../img/header/bottom-header/credit.svg');
}

.bottom-header__list-item:hover .bottom-header__link--loan:before {
	transition: transform 0.5s ease;
}
.bottom-header__list-item:hover .bottom-header__link--loan:before {
	transform: scale(1.3);
}

/* ------ main ---------- */
.section {}

.section--categories {
	margin-bottom: 70px;
}

.section--goods {
	margin-bottom: 86px;
}

/* categories */
.section__container {
	margin: 0 auto;
	max-width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
}

.categories__title {
	margin-bottom: 40px;
	display: flex;
	gap: 30px;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.title {
	color: #2B2929;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.20;
	/* 48/40 */
}

.categories__items {
	display: flex;
	gap: 24px 10px;
	flex-wrap: wrap;
}

.categories__item {
	border-radius: 8px;
	display: flex;
	flex-basis: 250px;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
	overflow: hidden;
	background-color: #ffffff;
	flex-direction: column;
	position: relative;
}

.categories__item:hover:after {
	content: "";
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: url('../img/main/categories/arrow.svg');
	width: 50px;
	height: 50px;
	z-index: 1;
}

.categories__item-decor {
	position: absolute;
	width: 280px;
	height: 280px;
	left: -5%;
	top: 35%;
	border-radius: 100%;
	background-color: #F8F8F8;
}

.categories__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 210px;
}

.categories__image {
	width: 100%;
	border-radius: 8px;
	position: relative;
	z-index: 1;
}

/* popular goods */


.section--goods {}



.goods {}

.goods__title {
	margin-bottom: 40px;
}

.link-title {
	display: inline-flex;
	gap: 10px;
	align-items: center;
}

.link-title::after {
	content: "";
	align-self: flex-start;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url('../img/main/popular/arrow.svg');
	transition: transform .5s ease;
}

.link-title:hover:after{
	transform: scale(1.5);
}

.goods__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.goods__item {
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #E3E2E2;
	background: #FFF;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	gap: 20px;
	flex-grow: 0;
	
}

.goods__item .goods__picture {
	transition: transform .5s ease;
}
.goods__item:hover .goods__picture {
	transform: scale(1.12);
}

.goods__picture {
	width: 100%;
}

.goods__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
}

.goods__item-info:nth-child(2) {
	flex-grow: 1;
}

.goods__link-item > p{
	transition: color 0.5s ease;
}

.goods__link-item:hover > p{
	color: #FFBC57;
}

.text-thin--icon {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.text-thin--icon:before {
	content: "";
	align-self: flex-start;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url('../img/main/popular/check.svg');
}

.goods__order-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.goods__price {
	flex-grow: 1;
}

.goods__price>* {
	overflow: hidden;
}
.text-line-throught {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46666667;
	/* 22/15 */
	/* 146.667% */
	text-decoration: line-through;
}

.text-line-throught--red {
	color: #E03D3D;
}

.goods__icons {
	display: flex;
	gap: 10px;
}

.goods__link-icon .goods__icon-chosen {
	transition: transform .5s ease, opacity .5s ease;
}

.goods__link-icon .goods__icon-cart {
	transition: transform .5s ease, opacity .5s ease;
}

.goods__link-icon:hover .goods__icon-chosen {
	transform: scale(1.2);
	opacity: 0.9;
}

.goods__link-icon:hover .goods__icon-cart {
	transform: scale(1.2);
	opacity: 0.9;
}

.section--promotions {
	margin-bottom: 70px;
}

.section__container {}

.promotions-section {}

.promotions-section__title {
	margin-bottom: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper-headline {
	display: flex;
	gap: 30px;
	align-items: center;
}

.promotions-section__controllers {
	display: flex;
	gap: 20px;
}

.promotions-section__controllers> * {
	cursor: pointer;
}
.promotions-section__arrow-left {
	transition: all .2s ease;
	border-radius: 100%;
}

.promotions-section__arrow-left:hover {
	outline: 3px solid #FFBC57;
}
.promotions-section__arrow-right {
	transition: all .2s ease;
	border-radius: 100%;
}

.promotions-section__arrow-right:hover {
	outline: 3px solid #FFBC57;
}

.promotions-section__items {
	display: flex;
	gap: 30px;
}

.promotions-section__item {
	flex-basis: 410px;
	border-radius: 8px;
}

.promotions-section__link:hover img {
	transition: transform .4s ease-in-out;
}

.promotions-section__link:hover img {
	transform: scale(1.1);
}

.promotions-section__picture {
	width: 100%;
	border-radius: 8px;
}