/* Fonts */


/* Fonts from  https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* sans-serif font  */

/* Fonts from plugin  */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
/* serif font  */

/* local fonts */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 400;
	color: #2b2929;
}


/* Tusk 4 all fonts and text styles */
ul.nav a {
	text-decoration: underline;
	color: blueviolet;
}

ul.poppins-test {
	font-family: 'Poppins', serif;
}

ul.poppins-test li.thin {
	font-weight: 100;
	text-align: right;
}

ul.poppins-test li.light {
	font-weight: 300;
	text-decoration: line-through;
	text-decoration-color: lightcoral;
}

ul.poppins-test li.regular {
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: overline;
	text-decoration-style: double;
}

ul.poppins-test li.medium {
	font-weight: 500;
	color: aqua;
	text-decoration: underline;
	text-decoration-style: dotted;
}

ul.poppins-test li.semibold {
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
}

ul.poppins-test li.bold {
	font-weight: 700;
	text-align: right;
	letter-spacing: 20px;
}

ul.poppins-test li.black {
	font-weight: 900;
	font-size: 18px;
	text-shadow: 10px 5px red;
	/* text shadow : -left+right  -up+down color*/
}

.nowrap-text {
	white-space: nowrap;
}

.text.playfair-display {
	text-shadow: 10px 0px red, 15px 0px 10px green;
	font-size: 50px;
	font-family: 'Playfair Display', serif; 
	font-style: italic;
	font-weight: 700;
}
.playfair-display span{
	font-weight: 500;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* tusk 5  Crovatto */
[class*='-title'] {
	font-size: 40px;
	line-height: 1.2;
	/* 48/40 */
}

.main-title {
	text-align: center;
}

.third-title {
	font-size: 20px;
	line-height: 1.4;
	/* 28/20 */
}

.crovatto-text>p,
.list-crovatto>li {
	color: #2b2929;
	font-size: 16px;
	line-height: 1.875;
	/* 30/16 */
}

footer a {
	text-decoration: underline;
	color: chocolate;
	text-decoration-color: black;
	text-decoration-style: wavy;
	font-size: 20px;
	line-height: 1.4;
}