@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  text-transform: capitalize;
  font-family: "Open sans", sans-serif;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 84.375rem;
  padding-inline: 0.9375rem;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: rgba(30, 40, 50, 0.05);
  z-index: 90;
}
@media (max-width: 48.18625em) {
  .header__bottom {
    position: fixed;
    inline-size: 100%;
    inset-inline-start: -700%;
    opacity: 0;
    top: 5rem;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    inline-size: 100%;
    background-color: rgb(160, 164, 167);
    padding: 0.625rem;
    overflow: auto;
  }
  .yes-burger .header__bottom {
    inset-inline-start: 0;
    opacity: 1;
  }
}

.top-header {
  position: relative;
}
.top-header__container {
  border-bottom: 1px solid #E3E3E3;
}
.top-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 1.9375rem;
          padding-block-start: 1.9375rem;
  -webkit-padding-after: 1.5625rem;
          padding-block-end: 1.5625rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.top-header__button {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.top-header__button:hover .top-header__search-icon path {
  color: #FF6F61;
}
.top-header__search-icon path {
  fill: currentColor;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.top-header__search {
  inline-size: 100%;
  block-size: 100%;
}
.top-header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 0.625rem;
}
@media (max-width: 24.43625em) {
  .top-header__logo > :first-child {
    display: none;
  }
  .top-header__logo > :last-child {
    display: none;
  }
}
.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
}
.top-header__item {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .top-header__item:hover .top-header__link, .top-header__item:hover .top-header__buy-icon path {
    color: #FF6F61;
  }
}
.top-header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #1E2832;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 48.18625em) {
  .top-header__link {
    font-size: 0;
  }
}
.top-header__buy-icon path {
  fill: currentColor;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bottom-header__container {
  position: relative;
}
.bottom-header__items {
  -webkit-padding-before: 1.875rem;
          padding-block-start: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 48.18625em) {
  .bottom-header__items {
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bottom-header__item:hover .bottom-header__link {
  color: #FF6F61;
}
.bottom-header__link {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
}
@media (max-width: 48.18625em) {
  .bottom-header__link {
    font-size: 1.125rem;
  }
}

.page__brands, .page__hero {
  -webkit-margin-after: 5.625rem;
          margin-block-end: 5.625rem;
}
@media (max-width: 84.375em) {
  .page__brands, .page__hero {
    -webkit-margin-after: calc(1.5625rem + 65 * (100vw - 21.5rem) / 1006);
            margin-block-end: calc(1.5625rem + 65 * (100vw - 21.5rem) / 1006);
  }
}
.page__social, .page__about, .page__slider, .page__styles, .page__goods {
  -webkit-margin-after: 8.75rem;
          margin-block-end: 8.75rem;
}
@media (max-width: 84.375em) {
  .page__social, .page__about, .page__slider, .page__styles, .page__goods {
    margin-bottom: calc(1.875rem + 110 * (100vw - 21.5rem) / 1006);
  }
}
.page__about {
  background: url("../img/main/styles/zara/background.jpg");
}

.hero {
  background-color: rgba(30, 40, 50, 0.05);
  position: relative;
}
.hero__decor-left, .hero__decor-right {
  position: absolute;
}
.hero__decor-left {
  inset-inline-start: 0;
  inset-block-end: 12%;
}
.hero__decor-left img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 60/66;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__decor-right {
  inset-inline-end: 0;
  inset-block-start: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.hero__decor-right img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 194/261;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__items {
  -webkit-padding-before: 5.0625rem;
          padding-block-start: 5.0625rem;
  -webkit-padding-end: 7rem;
          padding-inline-end: 7rem;
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 84.375em) {
  .hero__items {
    -webkit-padding-end: calc(1.5625rem + 87 * (100vw - 64rem) / 326);
            padding-inline-end: calc(1.5625rem + 87 * (100vw - 64rem) / 326);
    -webkit-padding-after: calc(1.5625rem + 55 * (100vw - 21.5rem) / 1006);
            padding-block-end: calc(1.5625rem + 55 * (100vw - 21.5rem) / 1006);
  }
}
.hero__info {
  padding-top: 4.625rem;
  padding-bottom: 5.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.625rem;
          flex: 0 1 42.625rem;
}
@media (max-width: 84.375em) {
  .hero__info {
    padding-top: calc(0px + 74 * (100vw - 41.875rem) / 680);
    padding-bottom: calc(0px + 94 * (100vw - 41.875rem) / 680);
  }
}
@media (max-width: 30rem) {
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.hero__title {
  font-size: 4.625rem;
  font-weight: 300;
  -webkit-margin-after: 3.25rem;
          margin-block-end: 3.25rem;
}
@media (max-width: 84.375em) {
  .hero__title {
    margin-bottom: calc(1.5625rem + 27 * (100vw - 41.875rem) / 680);
    font-size: calc(2.5rem + 34 * (100vw - 41.875rem) / 680);
  }
}
@media (max-width: 41.875em) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 30em) {
  .hero__title {
    text-align: center;
    -webkit-margin-after: 2.5rem;
            margin-block-end: 2.5rem;
  }
}
.hero__text:not(:last-child) {
  -webkit-margin-after: 4.125rem;
          margin-block-end: 4.125rem;
}
@media (max-width: 84.375em) {
  .hero__text:not(:last-child) {
    margin-bottom: calc(1.5625rem + 41 * (100vw - 21.5rem) / 1006);
  }
}
.hero__text > p {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.83333333;
  /* 55/30 */
}
@media (max-width: 84.375em) {
  .hero__text > p {
    font-size: 1.125rem;
  }
}
@media (min-width: 41.875em) and (max-width: 84.375em) {
  .hero__text > p {
    font-size: 1.5625rem;
  }
}
@media (min-width: 84.375em) {
  .hero__text > p {
    font-size: 1.875rem;
  }
}
.hero__text > p:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.hero__button {
  color: #fff;
  background-color: #1E2832;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .hero__button:hover {
    background-color: #FF6F61;
  }
}
.hero__wrap-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.5rem;
          flex: 0 1 26.5rem;
  border-radius: 30% 0 30% 0;
  position: relative;
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
  border-radius: 30% 0 30% 0;
}
@media (max-width: 30em) {
  .hero__wrap-picture {
    -webkit-margin-after: 1.25rem;
            margin-block-end: 1.25rem;
  }
}
.hero__image {
  position: relative;
  inset-inline-end: 1.125rem;
  inset-block-end: 1.25rem;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30% 0 30% 0;
  z-index: 2;
}
@media (max-width: 30em) {
  .hero__image {
    position: static;
    inline-size: 100%;
    block-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-block: 1.1875rem;
  padding-inline: 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .button:hover {
    background: #FF6F61;
  }
}
@media (max-width: 84.375em) {
  .button {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
}
.button__text {
  font-family: Roboto;
  font-size: 1.8125rem;
  font-weight: 400;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 84.375em) {
  .button__text {
    font-size: 1.5625rem;
  }
}
@media (max-width: 30em) {
  .button__text {
    font-size: 1.1875rem;
  }
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  row-gap: 2.5rem;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  justify-items: center;
}
@media (max-width: 31.93625em) {
  .brands__list {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
.brands__picture {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/70;
  -o-object-fit: contain;
     object-fit: contain;
}

.styles__container {
  position: relative;
}
.styles__wrap-title {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: auto;
  inset-inline-start: 50%;
  -webkit-transform: translate(-3rem, -50%);
      -ms-transform: translate(-3rem, -50%);
          transform: translate(-3rem, -50%);
  inline-size: 100%;
}
.styles__title {
  font-size: 2.125rem;
  font-weight: 400;
  text-transform: uppercase;
  inline-size: 100%;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
}
.styles__block {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.5rem;
  position: relative;
}
@media (max-width: 43.75em) {
  .styles__block {
    gap: 0.625rem;
  }
}
.styles__wrap {
  position: relative;
}
.styles__wrap:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.styles__wrap:only-child {
  grid-column: span 4;
  grid-row: span 2;
}
.styles__wrap:only-child > img {
  -o-object-fit: contain;
     object-fit: contain;
}
.styles__wrap .styles__info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-block: 0.9375rem;
  padding-inline: 0.875rem;
  background-color: #1E2832;
  row-gap: 0.9375rem;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.styles__wrap .styles__info > h6 {
  color: #fff;
  font-weight: 600;
}
@media (any-hover: hover) {
  .styles__wrap:hover .styles__info {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .styles__wrap .styles__info {
    opacity: 1;
  }
}
.styles__image {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
  /* 1/1 */
  -o-object-fit: cover;
     object-fit: cover;
}
.styles__promotions {
  position: absolute;
  left: 0;
  top: 1.375rem;
}
@media (max-width: 88.18625em) {
  .styles__wrap-title {
    position: static;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 0.625rem;
  }
  .styles__title {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    text-align: center;
  }
}
@media (max-width: 34.375em) {
  .styles__wrap:first-child {
    grid-column: span 1;
    grid-row: span 1;
  }
  .styles__wrap:only-child {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.goods__title {
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
}
.goods__filter {
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
}
.goods__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 24px;
}
@media (max-width: 34.74875em) {
  .goods__box {
    grid-template-columns: repeat(auto-fit, minmax(14.6875rem, 1fr));
  }
}

.about {
  background: rgb(1, 2, 4) url("../img/main/styles/zara/fliped_bg_use.jpg") -60% 40%/85% no-repeat;
  position: relative;
}
@media (max-width: 67.81125em) {
  .about {
    background: rgb(1, 2, 4) url("../img/main/styles/zara/fliped_bg_use.jpg") center center/cover no-repeat;
  }
}
@media (max-width: 33.18625em) {
  .about {
    background: rgba(1, 2, 4, 0.3) url("../img/main/styles/zara/fliped_bg_use.jpg") center center/cover no-repeat;
  }
}
.about__brand {
  position: absolute;
  top: 3.1875rem;
  right: 0;
  aspect-ratio: 723/309;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 41.62375em) {
  .about__brand {
    inline-size: 100%;
  }
}
.about__container {
  -webkit-padding-before: 14.5625rem;
          padding-block-start: 14.5625rem;
  -webkit-padding-after: 5.8125rem;
          padding-block-end: 5.8125rem;
  position: relative;
}
@media (max-width: 84.375em) {
  .about__container {
    padding-bottom: calc(1.5625rem + 68 * (100vw - 21.5rem) / 1006);
  }
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5rem;
          flex: 0 1 31.5rem;
}
.about__logo {
  -webkit-margin-after: 3.4375rem;
          margin-block-end: 3.4375rem;
}
@media (max-width: 84.375em) {
  .about__logo {
    -webkit-margin-after: calc(0.625rem + 45 * (100vw - 21.5rem) / 1006);
            margin-block-end: calc(0.625rem + 45 * (100vw - 21.5rem) / 1006);
  }
}
.about__text {
  -webkit-margin-after: 3.4375rem;
          margin-block-end: 3.4375rem;
}
@media (max-width: 1350px) {
  .about__text {
    -webkit-margin-after: calc(0.9375rem + 40 * (100vw - 21.5rem) / 1006);
            margin-block-end: calc(0.9375rem + 40 * (100vw - 21.5rem) / 1006);
  }
}
.about__text > p {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.53846154;
  /* 40/26 */
}
@media (max-width: 50em) {
  .about__text > p {
    font-size: 1.1875rem;
  }
}
.about__button {
  background-color: #fff;
}
@media (max-width: 30em) {
  .about__button {
    inline-size: 100%;
  }
}

.slider__title, .slider__filter {
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
}
.slider__wrap {
  overflow: hidden;
}
.slider__box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1.5rem;
}
.slider__box img {
  inline-size: 19.5rem;
  block-size: 25rem;
}

.social {
  background: rgba(30, 40, 50, 0.05);
}
.social__items {
  padding-block: 6.25rem;
}
@media (max-width: 84.375em) {
  .social__items {
    padding-block: calc(1.5625rem + 75 * (100vw - 21.5rem) / 1006);
  }
}
.social__title {
  -webkit-margin-after: 3.75rem;
          margin-block-end: 3.75rem;
  text-align: center;
}
@media (max-width: 1350px) {
  .social__title {
    -webkit-margin-after: calc(1.5625rem + 35 * (100vw - 21.5rem) / 1006);
            margin-block-end: calc(1.5625rem + 35 * (100vw - 21.5rem) / 1006);
  }
}
.social__box {
  -webkit-margin-after: 4.375rem;
          margin-block-end: 4.375rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.5rem;
}
@media (max-width: 39.375em) {
  .social__box {
    gap: 0.625rem;
    -webkit-margin-after: calc(1.5625rem + 45 * (100vw - 21.5rem) / 1006);
            margin-block-end: calc(1.5625rem + 45 * (100vw - 21.5rem) / 1006);
  }
}
.social__item {
  overflow: hidden;
}
.social__item img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .social__item:hover img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.social__picture {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.social__wrap-form {
  max-inline-size: 47.5rem;
  margin: 0 auto;
}
.social__title-sub {
  -webkit-margin-after: 4.625rem;
          margin-block-end: 4.625rem;
  text-align: center;
}
.top-footer__container {
  -webkit-padding-after: 5.625rem;
          padding-block-end: 5.625rem;
}
@media (max-width: 84.375em) {
  .top-footer__container {
    padding-bottom: calc(1.5625rem + 65 * (100vw - 21.5rem) / 1006);
  }
}
.top-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 56.93625em) {
  .top-footer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: calc(2.5rem + 16 * (100vw - 56.25rem) / 556);
  }
}
.top-footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.5rem;
          flex: 0 0 24.5rem;
}
@media (max-width: 56.93625rem) {
  .top-footer__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }
}
.top-footer__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.top-footer__logo > img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 180/34;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-footer__text > p {
  color: rgba(30, 40, 50, 0.75);
  font-weight: 400;
  line-height: 1.9;
}
.top-footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.25rem;
}
@media (max-width: 56.93625em) {
  .top-footer__media {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
.top-footer__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 56.93625em) {
  .top-footer__item {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.top-footer__image path {
  fill: currentColor;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.top-footer__image:hover path {
  color: #FF6F61;
}
.bottom-footer {
  background-color: #1E2832;
}
.bottom-footer__items {
  padding-block: 0.625rem 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom-footer__copy > p {
  color: #FFF;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 30.06125em) {
  .bottom-footer__payment {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.bottom-footer__image {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 283/24;
}

.anchor {
  color: #FFF;
  font-weight: 400;
  line-height: normal;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 30.06125em) {
  .dropdowns details > summary {
    list-style: none;
  }
  .dropdowns details > summary::-webkit-details-marker {
    display: none;
  }
}
.dropdowns__title {
  font-weight: 600;
  line-height: normal;
  -webkit-margin-after: 1.375rem;
          margin-block-end: 1.375rem;
}
@media (max-width: 56.93625em) {
  .dropdowns__title {
    font-size: 1.25rem;
  }
}
.dropdowns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
@media (any-hover: hover) {
  .dropdowns__item:hover .dropdowns__link {
    color: #FF6F61;
  }
}
.dropdowns__link {
  color: #1E2832;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.71428571;
  /* 24/14 */
  /* 171.429% */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 56.93625em) {
  .dropdowns__link {
    font-size: 1.25rem;
  }
}

.image-burger {
  inline-size: 1.09375rem;
  block-size: 1.25rem;
  position: relative;
  display: none;
}
.image-burger span, .image-burger::before, .image-burger::after {
  position: absolute;
  inline-size: 100%;
  inset-inline-start: 0;
  block-size: 0.125rem;
  background-color: #1E2832;
  border-radius: 0.625rem;
}
.image-burger::before {
  content: "";
  inset-block-start: 0;
}
.image-burger::after {
  content: "";
  inset-block-end: 0;
}
.image-burger span {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 48.18625em) {
  .image-burger {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.form--dissapear {
  position: absolute;
  inline-size: 100%;
  inset-block-start: 110%;
  inset-inline-start: -600%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.yes-form .form--dissapear {
  inset-inline-start: 0px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.625rem;
}
.form__line {
  inline-size: 100%;
  border-bottom: 0.125rem solid #000;
}
.form:has(.form__input:focus) .form__line {
  border-color: #FF6F61;
}
.form__input {
  padding-block: 0.8125rem;
  padding-inline: 0.9375rem;
}
.form__input:focus {
  outline: none;
}
.form__input::-webkit-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-family: Roboto;
  font-weight: 600;
}
.form__input::-moz-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-family: Roboto;
  font-weight: 600;
}
.form__input:-ms-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-family: Roboto;
  font-weight: 600;
}
.form__input::-ms-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-family: Roboto;
  font-weight: 600;
}
.form__input::placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-family: Roboto;
  font-weight: 600;
}
.form__button {
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.125rem solid #000;
  text-transform: uppercase;
  color: #1E2832;
  padding-block: 0 0.625rem;
  padding-inline: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .form__button:hover {
    color: #FF6F61;
    border-bottom: 0.125rem solid #FF6F61;
  }
}
.form__button--image {
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
.form__button--image:hover .form__icon-plane path {
  color: #FF6F61;
}
.form__icon-plane path {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  fill: currentColor;
}

.title-secondary {
  text-align: center;
  font-family: Roboto;
  font-size: 3.125rem;
  font-weight: 500;
}
@media (max-width: 84.375em) {
  .title-secondary {
    font-size: calc(1.5625rem + 25 * (100vw - 21.5rem) / 1006);
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
@media (max-width: 32.56125em) {
  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.filter .filter__categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  row-gap: 0.625rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (any-hover: hover) {
  .filter .filter__category:hover {
    cursor: pointer;
  }
  .filter .filter__category:hover .filter__button {
    color: #FF6F61;
  }
}
.filter .filter__button {
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.filter .filter__button--transparent {
  opacity: 0.5;
}
.filter .filter__triger-button {
  padding-block: 0.3125rem;
  padding-inline: 0.9375rem;
  color: #1E2832;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1E2832;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (any-hover: hover) {
  .filter .filter__triger-button:hover {
    cursor: pointer;
    background-color: #FF6F61;
  }
}
.filter .filter__triger-button > span {
  color: #FFF;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.filter .filter__triger-button--image {
  gap: 0.25rem;
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .product-card:hover .product-card__image {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.product-card__box {
  overflow: hidden;
}
.product-card__promotions {
  position: absolute;
  top: 22px;
  left: 0;
}
.product-card__image {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 312/400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.product-card__good-title {
  font-weight: 600;
}
.product-card__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.product-card__wrapper-name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product-card__wrapper-name > *:not(:last-child) {
  -webkit-margin-after: 0.3125rem;
          margin-block-end: 0.3125rem;
}
.product-card__wrapper-name > * {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.product-card__wrap-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  row-gap: 0.75rem;
}
.product-card__price--line-throught {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  font-size: 0.875rem;
}
.product-card__price--hot {
  color: #FF6F61;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.9375rem;
}
.promo > h6 {
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  background-color: #FF6F61;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: uppercase;
}
.promo > h6.promo__hot--sale {
  background-color: #1E2832;
}