@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: rgba(30, 40, 50, 0.05);
}
.top-header__container {
  border-bottom: 1px solid #E3E3E3;
}
.top-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 25px;
  padding-top: 31px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top-header__logo {
  cursor: pointer;
}
.top-header__name {
  width: 100%;
  height: 100%;
  aspect-ratio: 180/34;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.top-header__item:hover .top-header__link {
  color: cadetblue;
}
.top-header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  font-weight: 400;
  color: #1E2832;
}
.top-header__link img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  height: 100%;
  aspect-ratio: 20/19;
}

.bottom-header__items {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bottom-header__item:hover .bottom-header__link {
  color: cadetblue;
}
.bottom-header__link {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
}

.page__brands, .page__hero {
  margin-bottom: 90px;
}
.page__styles, .page__goods {
  margin-bottom: 140px;
}

.hero {
  background-color: rgba(30, 40, 50, 0.05);
  position: relative;
}
.hero__decor-left, .hero__decor-right {
  position: absolute;
}
.hero__decor-left {
  left: 0;
  bottom: 12%;
}
.hero__decor-left img {
  width: 100%;
  height: 100%;
  aspect-ratio: 60/66;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__decor-right {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.hero__decor-right img {
  width: 100%;
  height: 100%;
  aspect-ratio: 194/261;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__items {
  padding-top: 81px;
  padding-right: 112px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  outline: 1px solid green;
}
.hero__info {
  padding-top: 74px;
  padding-bottom: 94px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 682px;
          flex: 0 1 682px;
}
.hero__title {
  font-size: 74px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 52px;
}
.hero__text {
  margin-bottom: 66px;
}
.hero__text > p {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.83333333;
  /* 55/30 */
  text-transform: capitalize;
}
.hero__wrap-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 424px;
          flex: 0 0 424px;
  border-radius: 30% 0 30% 0;
  position: relative;
}
.hero__wrap-picture::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 30% 0 30% 0;
  width: 100%;
  height: 100%;
}
.hero__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30% 0 30% 0;
  position: relative;
  z-index: 2;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 19px 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #1E2832;
  text-align: center;
}
.button__text {
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-weight: 400;
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 40px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  justify-items: center;
}
@media (max-width: 510.98px) {
  .brands__list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
.brands__picture {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/70;
  -o-object-fit: contain;
     object-fit: contain;
}

.styles__container {
  position: relative;
}
.styles__wrap-title {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: auto;
  top: 50%;
  -webkit-transform: translate(-48px, -50%);
      -ms-transform: translate(-48px, -50%);
          transform: translate(-48px, -50%);
  width: 100%;
  height: 100%;
}
.styles__title {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
}
.styles__block {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  position: relative;
}
.styles__wrap {
  position: relative;
}
.styles__wrap:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.styles__wrap:only-child {
  grid-column: span 4;
  grid-row: span 2;
}
.styles__wrap:only-child > img {
  -o-object-fit: contain;
     object-fit: contain;
}
.styles__wrap .styles__info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 15px 14px;
  background-color: #1E2832;
  row-gap: 15px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.styles__wrap .styles__info > h6 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: capitalize;
}
.styles__wrap:hover .styles__info {
  opacity: 1;
}
.styles__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  /* 1/1 */
  -o-object-fit: cover;
     object-fit: cover;
}
.styles__promotions {
  position: absolute;
  left: 0;
  top: 22px;
}
@media (max-width: 1410.98px) {
  .styles__wrap-title {
    position: static;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 10px;
  }
  .styles__title {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    text-align: center;
  }
}
@media (max-width: 550px) {
  .styles__wrap:first-child {
    grid-column: span 1;
    grid-row: span 1;
  }
  .styles__wrap:only-child {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.goods__title {
  margin-bottom: 35px;
}
.goods__filter {
  margin-bottom: 35px;
}
.goods__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}
@media (max-width: 555.98px) {
  .goods__box {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  }
}

.title-secondary {
  text-align: center;
  /* H2 */
  font-family: Roboto;
  font-size: calc(30px + 20 * (100vw - 355px) / 995);
  font-weight: 500;
  text-transform: capitalize;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
@media (max-width: 520.98px) {
  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.filter .filter__categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  row-gap: 10px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter .filter__button {
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: capitalize;
}
.filter .filter__button--transparent {
  opacity: 0.5;
}
.filter .filter__triger-button {
  padding: 5px 15px;
  color: #1E2832;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1E2832;
}
.filter .filter__triger-button > span {
  color: #FFF;
  /* Button - Small */
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: capitalize;
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.product-card__promotions {
  position: absolute;
  top: 22px;
}
.product-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 312/400;
}
.product-card__good-title {
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: capitalize;
}
.product-card__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-card__wrapper-name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product-card__wrapper-name > *:not(:last-child) {
  margin-bottom: 5px;
}
.product-card__wrapper-name > * {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: capitalize;
}
.product-card__wrap-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  row-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-card__price {
  font-family: "Open Sans";
}
.product-card__price--line-throught {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  font-size: 14px;
}
.product-card__price--hot {
  color: #FF6F61;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
}
.promo > h6 {
  padding: 4px 12px;
  background-color: #FF6F61;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: uppercase;
}
.promo > h6.promo__hot--sale {
  background-color: #1E2832;
}