.first-title-text {
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
}
.second-title-text {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16666667;
	/* 70/60 */
	text-transform: uppercase;
}
.third-title-text {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.text-max {
	font-family: "Exo 2";
	font-size: 30px;
	font-weight: 400;
	/* 66.667% */
	letter-spacing: -3px;
}
.text-big {
	font-family: Orbitron;
	font-size: 20px;
	font-weight: 900;
	/* 100% */
	text-transform: uppercase;
}
.text-middle {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.11111111;
	/* 20/18 */
	letter-spacing: -0.36px;
	text-transform: uppercase;
}
.text-standart {
	font-family: Orbitron;
	font-weight: 500;
	line-height: 1.25;
	/* 20/16 */
	/* 125% */
	text-transform: uppercase;
}